.dashboardTitle {
    margin: 40px;
}
.dashboardTitleMain{
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 700;
}
.dashboardTitleSub{
    font-size: 14px;
    font-weight: 500;
    color: #8894a2;
}
.dashboard-cards {
    display: flex;
    flex: 1;
    /* flex-wrap: wrap; */
    /* gap: 20px; */
    /* margin: 40px; */
}